@charset "utf-8";
/* CSS Document */

/**
* Sidebar Menu
*
*/
.layout {
  position: relative;
  transition: transform 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  min-height:200px


}

.inner-layout {
  position: relative;
  z-index: 6;
}
#wrapper {
     position: relative;
	 transition: transform 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);



}
.sidebar-menu.is-active + #wrapper {
    transform: translateX(-300px);
}

.sidebar-menu {
  display:none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #e7e9eb;
  transition:right 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index:99999;

}

.sidebar-menu.is-active {
  display: block;

transition:right 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

.sidebar-menu__header {
  height: 60px;
  background: #333;
}

.sidebar-menu__title {
  position: relative;
  display: block;
  padding: 0 25px;
  height: 100%;
  width: 100%;
  color: #ccc;
  font-size: 16px;
  line-height: 60px;
  font-weight: normal;
  text-transform:uppercase;
}
.sidebar-menu__title > i{ display:inline-block; float: right;    font-size: 28px;    line-height: inherit;}
.sidebar-menu__title:hover, .sidebar-menu__title:active, .sidebar-menu__title:focus {
  color: #6e6e6e;
  text-decoration: none;
}

.sidebar-menu__title::first-letter {
  text-transform: uppercase;
}


.sidebar-menu__title::before {
  content: '\e907';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -8px;
  color: #fff;
  font-size: 20px;
  font-family: 'ge-corporate-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-feature-settings: 'liga' 1;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sidebar-menu__list {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 300px;
  list-style: none;
  background-color: #FFF;
  transition: right 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.sidebar-menu__item {
  padding: 0;
  width: 100%;
  /*border-top: 2px solid #e2e4e6;*/
}

.sidebar-menu__item:first-child {
  border-top: 0;
}

.sidebar-menu__item.sidebar-menu__item--back {
  background-color: #333;
}

.sidebar-menu__item.sidebar-menu__item--back .sidebar-menu__link {
  color: #fff;
}

.sidebar-menu__item:hover {
  background-color: #FFF;
  cursor: pointer;
}

.sidebar-menu__item:hover > .sidebar-menu__link {
  color: #6e6e6e;
}

.sidebar-menu__item:hover > .sidebar-menu__link .glyphicon-menu-right {
  color: #6e6e6e;
}

.sidebar-menu__item .sidebar-menu__list {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(300px);
  transition: transform 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.sidebar-menu__item .sidebar-menu__list.is-active {
  transform: translateX(0);
}

.sidebar-menu__item .sidebar-menu__list .sidebar-menu__list {
  z-index: 2;
}

.sidebar-menu__item .sidebar-menu__list .sidebar-menu__list .sidebar-menu__list {
  z-index: 3;
}

.sidebar-menu__item .sidebar-menu__list .sidebar-menu__list .sidebar-menu__list .sidebar-menu__list {
  z-index: 4;
}

.sidebar-menu__link {
  display: block;
  padding: 20px 25px;
	color: #828282;
  font-size: 16px;
  font-weight: normal;
  transition: color 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.sidebar-menu__link::first-letter {
  text-transform: uppercase;
}

.sidebar-menu__link:hover, .sidebar-menu__link:active, .sidebar-menu__link:focus {
  text-decoration: none;
}

.sidebar-menu__link span.glyphicon-menu-left
{
  float: left;
  font-size: 12px ;
  color:#FFFFFF;
  line-height:20px;
  margin-right:4px;
}


.sidebar-menu__link .glyphicon-menu-right{
  color: #bababa;  float:right;
}
.search_submenu {height: 100%;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;

  margin: 0 auto;


}

  .search_submenu .sidebar-menu__link{ display:inline-block }



.search_submenu::-webkit-scrollbar {
    width: 2px;
}

.search_submenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.search_submenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.sidebar-menu__item sidebar-menu__item--back:hover { background-color:#333;}
.search_submenu .sidebar-menu__item--back:hover, .search_submenu .sidebar-menu__item:hover > .sidebar-menu__link { background-color:#333; color:#fff;}
.sidebar-menu__item--back  div.close-icon::before {
  content: '\e907';
   position: absolute;
  top: 18px;
  left: 260px;
  /*float: right;*/
/*   margin-top: -40px;
  margin-right: 15px; */
  color: #fff;
  font-size: 20px;
  font-family: 'ge-corporate-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-feature-settings: 'liga' 1;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar-menu__item--back:hover  div.close-icon{
    margin-bottom: 40px;
    margin-top: -40px !important;
    text-align: right;
    cursor: pointer;
 }
 .sidebar-menu__item.menu-parent-title{
    background-color: #474747;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}
.sidebar-menu__item.menu-parent-title:hover{
   cursor:default;
}
.sidebar-menu__item.menu-parent-title span:after{
   content: '';
	text-decoration: none;
	display:block;
	border-bottom: 1px solid #FFF;
	width:20px;
	transition: 0.5s ease;
	white-space: nowrap;
}

a.menu-parent-title-link {
    color: white;
    font-weight: normal;
    font-size: 16px;
    font-family: "ge-inspira",Arial,Helvetica,"Helvetica Neue",sans-serif;
}
