@import url('https://fonts.googleapis.com/css?family=Crete+Round');

html,body{
	margin: 0;
	padding: 0;
	font-family:'Verdana', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.loader{
	background: rgba(255,255,255,0.75) url(../images/loader.gif) no-repeat 50% 50% / 100px 100px;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
	margin-bottom: 30px;
}

/* Banners */
.full_Image{
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.home_Image1{
	background-position: 50% 50%;
	background-image: url(../images/banners/bg-mob.jpg);
	background-attachment: fixed;
}
.home_Image2{
	background-position: 50% 50%;;
	background-image: url(../images/banners/bg-blog.png);
	background-attachment: fixed;
}
.home_Image3{
	background-position: 50% 50%;;
	background-image: url(../images/banners/bg-saas.jpg);
	background-attachment: fixed;
}
.home_Image4{
	background-position: 50% 50%;;
	background-image: url(../images/banners/bg-ai.jpg);
	background-attachment: fixed;
}
.iot_Image{
	background-position: 0 100%;
	background-image: url(../images/banners/bg-1.jpg);
}
.skill_Image{
	background-position: 50% 50%;;
	background-image: url(../images/banners/4-04.svg);
	background-size: cover;
}
.texture_overlay_1{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/banners/pattern.png);
	z-index: 2;
}
.texture_gradient{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}
.texture_gradient.skill{
	background-color: rgba(0,0,0,0.15);
}
.banner-indicators{
	position: absolute;
	right: 50px;
	bottom: 150px;
	list-style: none;
}
.banner-indicators li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #fff;
	display: inline-block;
	cursor: pointer;
	margin: 0 2px;
}
.banner-indicators li.active{
	background-color: #fff;
}
.banner-text{
	text-align: left;
	position: absolute;
	bottom: 25%;
	left: 50px;
	width: 625px;
	color: #fff;
	-webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
	font-size: 1.25em;
}
.banner-text h2{
	font-size: 72px;
	margin:0 0 30px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	font-family: 'Crete Round', serif;
}
.banner-text p{
	text-align: justify;
}
.homeQuote_btn .request-quote-btn{
	font-size: 1em;
	padding: 10px 25px;
}
/* Banners */

/* Logo */
.branding{
	margin-top: -30px;
	overflow: hidden;
	height: 80px;
}
.branding a{
	text-decoration: none;
}
.navbar-brand.base h1{
	font-size: 2.5em;
	margin: 0;
	color: #32a3d8;
	line-height: 1.75;
}
.navbar-brand > img{
	width: 200px;
	margin-top: -65px;
	margin-left: 0;
}
/* Logo */

/* Navbar */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
	color:#7f7f7f;
}
.navbar-nav > li > a{
	line-height:10px;
}
.navbar-default{
	background: #fff;
	border:none;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	border-radius: 0;
	top: 28px;
	box-shadow: 0 4px 5px -5px rgba(0,0,0,0.25);
	-webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
	z-index: 99;
}
.navbar-default .navbar-nav > li > a{
	color:#050504;
}
.navbar-nav > li > a{
	line-height:10px;
}
.navbar-default .navbar-nav > li{
	padding: 20px 25px;
	cursor:pointer;
}
.navbar-default .navbar-nav > li > a{
	color:#050504;
	font-size:14px;
	padding:0;
	letter-spacing:0.9px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color:#7f7f7f;
}
.navbar-default .navbar-nav > li > a i.icon{
	font-size:20px;
}
.navbar-default .navbar-nav > li.icon{
	padding:13px 15px;
}
.navbar-default .navbar-nav > li.icon.icon-menu{
	display:none
}
.sliding-u-l-r:after{
	content: '';
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid #fff;
	width:0%;
	transition: width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	white-space: nowrap;
}
.sliding-u-l-r:hover:after{
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	width:100%;
}
.navbar-nav > li>.dropdown-menu{
	margin-top:0px;
}
.navbar-right .dropdown-menu{
	right:-108px;
	display: none;
	position: absolute;
	margin-top: 20px;
	padding: 20px 50px 20px 40px;
	list-style: none;
	background: #fff;
	box-shadow: 0 5px 5px 43% #5a5a5a;
	border-radius:0px;
	font-size:16px;
	z-index: 9;
}
.navbar-right{
	float: right!important;
	margin-right: -25px;
}
.navbar-right .dropdown-menu a{
	display: block;
	padding: 16px 0 6px;
	color: #7f7f7f;
	font-size: 15px;
	white-space: nowrap;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
	color:#7f7f7f;
	background-color:transparent;
}
.navbar-right .dropdown-menu:before{
	content: '';
	position: absolute;
	top: -16px;
	left: 14%;
	width: 0;
	height: 0;
	border-width: 9px 10px;
	border-color: transparent transparent #fff;
	border-style: solid;
}
.dd-sliding-u-l-r{
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.dd-sliding-u-l-r:after{
	content: '';
	text-decoration: none;
	display:block;
	border-bottom: 1px solid #6e6e6e;
	width:20px;
	transition: 0.5s ease;
	white-space: nowrap;
}
.sidebar-menu__link:hover,
.dd-sliding-u-l-r:hover:after{
	border-color: #00b3df;
	width:100%;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
	background-color:transparent;
}
/* Navbar */

/* Skiils */
.skills__wrapper{
	padding: 0;
}
.skills__wrapper h1{
	padding-top: 100px;
	margin-bottom: 35px;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 3.5em;
}
.skills__wrapper h2{
	font-size: 2em;
	margin: 0 0 15px 0;
}
.skills__wrapper .container-fluid{
	position: relative;
	padding: 0;
	border: none;
}
.skills__wrapper .homeSkills{
	background-image: linear-gradient(#becdf7, #7b9bf2);
}
.skill_img_wrap{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 32%;
	height: 100%;
}
.skill-left{
	left: 0;
}
.skill-right{
	right: 0;
}
.skills__wrapper .homeSkills img{
	position: absolute;
	z-index: 1;
}
.left30{left: calc(30% - 50px);}
.left70{left: calc(70% - 50px);}

.right30{right: calc(30% - 50px);}
.right70{right: calc(70% - 50px);}

.top20{top: calc(20% - 50px);}
.top40{top: calc(40% - 50px);}
.top60{top: calc(60% - 50px);}
.top80{top: calc(80% - 50px);}
.skills__wrapper .skills-pane{
	z-index: 5;
	background-color: #fff;
	padding: 30px 75px;
}
.skills__wrapper .skills-pane p{
	font-size: 24px;
	padding: 0 30px 0 60px;
	margin-bottom: 25px;
}
.skills-pane p > img{
	float:left;
	width: 36px;
	height: 36px;
	margin-right: 15px;
}
.form__bg{
	color: #fff;
	margin: 50px auto;
	width: 500px;
	text-align: center;
	position: relative;
	z-index: 5;
}
.form__bg h2{
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	font-size: 3em;
}
.form__bg p{
	font-size: 1.25em;
	margin: 0 0 20px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.form__bg form{
	padding: 30px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 0 20px -10px rgba(0, 0,0,0.5);
	border: 1px solid rgba(255,255,255,0.25);
}
.form__bg label{
	font-size: 1.25em;
}
.form__bg .form-group{
	margin-bottom: 25px;
}
.form__bg .form-control{
	height: auto;
	border-radius: 0;
	font-size: 1em;
}
.form__bg .btn{
	font-size: 1.25em;
	padding: 10px;
	margin-top: 40px;
	border-radius: 0;
}
.skills__wrapper ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: table;
  width: 100%;
  text-align: center;
}
.skills__wrapper .skills-pane ul:last-child{
	border-bottom: 1px solid #c5c5c5;
}
.skills__wrapper ul li{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	width: 20%;
	padding: 1% 2%;
}
.skills__wrapper ul li:last-child{
	border-right: 1px solid #c5c5c5;
}
.skills__wrapper ul li img{
	display: inline;
	width: 64px;
}
.skills__wrapper ul li span{
	display: block;
	margin-top: 10px;
	font-size: 1em;
}
.skills-pane .card{
  float: left;
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
}
.skills-pane .card-icon{
	width: 50px;
	margin: 0 auto;
}
.skills-pane .card-text{
	font-size: 1.35em;
	text-align: center;
	margin-top: 15px;
	font-family: 'Verdana', sans-serif;
}
.skills__wrapper .inner-testimonials{
	background-color: #fff;
	margin-bottom: 50px;
	overflow: visible;
	position: relative;
	z-index: 9;
}
.skills__wrapper .testimonials__wrapper{
	margin: 50px 0;
}
.skills__wrapper .inner-testimonials .testimonials__wrapper{
	margin: 0;
}
/* Skills */

/* Quote Modal */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#quoteModal .modal-body{
	background-position: 50% 50%;;
	background-image: url(../images/banners/4-04.svg);
	background-size: cover;
}
#quoteModal .form__bg{
	margin: 0 auto 30px;
}
#quoteModal .form__bg h2{
	font-size: 1.5em;
	margin-bottom: 20px;
}
#quoteModal .form__bg p{
	font-size: 1.25em;
}

/* Testimonials */
.inner-testimonials #testimonials{
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.35);
  border: 1px solid #ddd;
}
.testimonials__wrapper{
	background: none;
	margin: 30px 0 0 0;
}
.testimonials__wrapper.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.testimonials__wrapper.row > [class*='col-']{
	display: flex;
	flex-direction: column;
}
.col-md-2 > .btn{
	height: 100%;
	margin: 15px 0;
	border-radius: 0;
	font-size: 1.5em;
	line-height: 1.5;
}
#tcb-testimonial-carousel blockquote{
	padding: 0 0 0 40px;
	font-size: 1.15em;
	line-height: 1.5;
}
#tcb-testimonial-carousel blockquote p em::before{
	content: "\201C";
	font-family: Georgia, serif;
	font-size: 58px;
	font-weight: bold;
	color: #999;
	position: absolute;
	left: 18px;
	top: -20px;
}
#tcb-testimonial-carousel blockquote p em::after{
  content: "";
}
#tcb-testimonial-carousel{
  margin: 0;
}
#tcb-testimonial-carousel a{
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-inner{
	min-height: 160px;
}
#tcb-testimonial-carousel .text-brand{
  color: #b20000;
}
#tcb-testimonial-carousel .lead{
	font-size: 18px;
}
#tcb-testimonial-carousel .carousel-indicators{
  bottom: 15px;
  left: auto;
  right: 0;
  width: auto;
  margin: 0;
	z-index: 5;
}
#tcb-testimonial-carousel .carousel-indicators .active{
  background: #b20000;
}
#tcb-testimonial-carousel .no-margin{
  margin: 0;
}
#tcb-testimonial-carousel .carousel-indicators li{
  border: 1px solid #ccc;
}
#tcb-testimonial-carousel .carousel-control{
  color: #b20000;
  width: 5%;
}
#tcb-testimonial-carousel .carousel-control:hover,
#tcb-testimonial-carousel .carousel-control:focus{
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-control.left,
#tcb-testimonial-carousel .carousel-control.right{
  background-image: none;
}
#tcb-testimonial-carousel .caption{
    margin-right: -15px;
}
#tcb-testimonial-carousel .item{
  padding: 15px 0;
}
#tcb-testimonial-carousel blockquote .small,
#tcb-testimonial-carousel blockquote footer,
#tcb-testimonial-carousel blockquote small{
	display: inline;
}
#tcb-testimonial-carousel .media-object{
  margin: 5px auto;
	box-shadow: 0 5px 4px 0 rgba(0,0,0,0.15);
	border: 1px solid #7999CB;
}

/* About Us */
.about #intro{
  max-width: 1600px;
  margin: auto;
  background-image: url("../images/banners/about-bg.jpg");
	background-attachment: fixed;
  opacity: .85;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 200px;
}
.about #intro .section-intro-text{
	background-color: rgba(0,0,0,0.5);
	background-image: url(../images/banners/pattern.png);
	padding: 15px;
}
#intro h1{
  margin: 0;
	font-size: 72px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	font-family: 'Crete Round', serif;
}
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6{
  color: #fff;
}
#intro h1{
  font-weight: 400;
}
#intro p{
  color: #c9ced5;
}
.section-heading{
	font-size: 3em;
}
.subheading{
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 15px;
}
.employee{
  margin-bottom: 35px;
}
.employee .desc{
	text-align: justify;
}
.employee img{
  margin-bottom: 25px;
  max-width: 100%;
}
img.rounded{
  border-radius: 4px;
}
.employee .name{
  font-weight: bold;
  color: #3d3f42;
  font-size: 20px;
  margin-bottom: 0;
}
p:last-child{
  margin-bottom: 0;
}
.about_story{
	padding: 50px 0;
}
.story{
  padding: 0;
}
.story p{
  font-size: 1.25em;
}
.divider-small{
  width: 40px;
  height: 2px;
  background-color: #e9e9e9;
  margin: 40px auto 40px auto;
  border-radius: 2px;
}
.story__wrapper{
	padding: 75px 0 0 0;
}
.gray{
  background-color: #f7f9fa;
  padding: 75px 0 0;
}
/* About Us */

/* Success Stories */
#success_stories{
	padding: 50px 0;
	position: relative;
	background-image: linear-gradient(90deg, rgba(150, 150, 255, 0.2) 0%, rgba(150, 150, 255, 0.4) 25%, rgba(150, 150, 255, 0) 76%, rgba(150, 150, 255, 0) 100%),
	linear-gradient(180deg, #2b87e2 0%, rgba(15, 195, 106, 0.4) 25%, rgba(15, 195, 106, 0) 76%, rgba(15, 195, 106, 0) 100%),
	linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.22) 5%, rgba(255, 255, 255, 0.22) 9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%),
	linear-gradient(135deg, #2b87e2 0%, rgba(150, 150, 255, 0.7) 44%, rgba(150, 150, 255, 0) 76%, rgba(150, 150, 255, 0) 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
#success_stories h1{
	font-size: 3em;
	color: #fff;
}
#success_stories h1 span{
	font-size: 1.5em;
	display: block;
	font-weight: bold;
	margin-top: 20px;
}
#success_stories .subheading{
	font-size: 2em;
	color: #eee;
}
#success_stories .customer_images{
	background: none;
	display: table;
	width: 100%;
	height: 100%;
	margin: -7px 0 0;
	padding: 0;
}
#success_stories .customer_images li{
	display: table-cell;
	width: 25%;
	text-align: center;
	padding: 15px;
	height: 70px;
}
.stories_rows{
	padding: 50px 0;
}
.stories_rows .card{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  margin-bottom: 30px;
	height: 100%;
	text-align: center;
}
.stories_rows .card:hover{
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.35);
}
.stories_rows .card-title{
	margin-top: 0;
	font-weight: bold;
}
.stories_rows .card p{
	line-height: 1.75;
}
.stories_rows .story-img{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	display: table;
}
.stories_rows .card img{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.stories_rows .goal-challenges{
	text-align: justify;
	padding: 20px;
}
.stories_rows .goal-challenges strong{
	color: red;
}
.stories_rows .card img.left{
  float: left;
  margin-right: 15px;
	margin-bottom: 15px;
}
.stories_rows .card img.right{
  float: right;
  margin-left: 15px;
}
.stories_rows .pagination{
	margin-top: 50px;
}
.stories_rows .how_solved{
	margin-top: 0;
	text-align: justify;
	padding: 20px;
}
.stories_rows .how_solved h4{
	margin-top: 20px;
}
/* Success Stories */

/* Projects */
.project__wrapper{
	background: #f3f3f3;
	padding: 50px 0;
	position: relative;
	z-index: 5;
}
.project__wrapper h1{
	font-size: 4em;
	text-align: center;
	margin: 0 0 20px 0;
	color: #565656;
}
.project__wrapper h2{
	font-size: 2em;
	text-align: center;
	margin: 0 0 50px 0;
	color: #959595;
}
.project__tabs .col-md-3{
    padding-right: 0;
}
.project__tabs .col-md-9{
	padding-left: 0;
}
.project__tabs .project__img{
	margin-bottom: 15px;
	text-align: center;
}
.project__tabs .tabs-left{
  padding: 0;
  border: none;
	background-image: linear-gradient(#7b9bf2, #becdf7);
}
.project__wrapper #project_TabWrapper li a{
	padding: 0;
	background: none;
}
.project__wrapper #project_TabWrapper li a .category__item{
	padding-left: 15px;
	padding-right: 15px;
}
.project__wrapper #project_TabWrapper li a .category__item:first-child{
	padding: 12px 15px;
}
.project__wrapper #project_TabWrapper li a .category__item:last-child{
	padding: 12px 15px;
}
.project__wrapper #project_TabWrapper li.active a{
	color: #656565;
	cursor: default;
	background-color: #fff;
	border-left: 3px solid #f00;
	margin-left: 0;
	outline: none;
}
.project__wrapper .tab-content{
	background: #fff;
	position: relative;
	width: auto;
	min-height: 428px;
	z-index: 5;
	overflow: auto;
	border-radius: 0;
	color: #656565;
}
.project__wrapper .tab-content .tab-pane{
  position: absolute;
	top: 0;
	padding: 30px 40px;
	z-index: 1;
  opacity: 0;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.project__wrapper .tab-content .tab-pane{
	-webkit-transform: translateY(-450px);
	-moz-transform: translateY(-450px);
	-o-transform: translateY(-450px);
	-ms-transform: translateY(-450px);
	transform: translateY(-450px);
}
.project__wrapper .tab-content .tab-pane.active{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	z-index: 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all ease-out 0.3s 0.3s;
	-moz-transition: all ease-out 0.3s 0.3s;
	-o-transition: all ease-out 0.3s 0.3s;
	-ms-transition: all ease-out 0.3s 0.3s;
	transition: all ease-out 0.3s 0.3s;
}
.request-quote-btn{
	margin-top: 30px;
	border-radius: 0;
}
.quote__wrapper .request-quote-btn{
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}
.tabs-left, .tabs-right{
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left{
  border: 1px solid transparent;
}
.tabs-right{
  border: 1px solid transparent;
}
.tabs-left > li, .tabs-right > li{
  float: none;
  margin-bottom: -1px;
}
.tabs-left > li > a:hover, .tabs-right > li > a:hover,
.tabs-left > li > a:focus, .tabs-right > li > a:focus{
	background-color: #9B59B6;
	border-color: transparent;
}
.tabs-left > li{
  margin-right: -1px;
}
.tabs-right > li{
  margin-left: -1px;
}
.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus{
	font-weight: bold;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus{
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.tabs-left > li > a{
	border-radius: 0;
	margin-right: 0;
	display: block;
	font-size: 1.25em;
	background-color: #8E44AD;
	color: #fff;
}
.tabs-right > li > a{
  border-radius: 0;
  margin-right: 0;
  font-size: 1.25em;
}
.vertical-text{
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text > li{
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text > li > a{
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
.vertical-text > li.active > a,
.vertical-text > li.active > a:hover,
.vertical-text > li.active > a:focus{
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left{
  left: -50px;
}
.vertical-text.tabs-right{
  right: -50px;
}
.vertical-text.tabs-right > li{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left > li{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.project__rows{
	margin-bottom: 25px;
}
.project__rows h3{
	font-weight: bold;
	margin-top: 0;
	font-size: 1.75em;
}
.project__rows p{
	font-size: 1.1em;
	text-align: center;
}
/* Projects */

a.menu-parent-title-link{
  color: white;
	text-decoration: none;
}
.quote__wrapper{
	margin-bottom: 75px;
	text-align: center;
}

@media screen and (max-width: 768px){
  #tcb-testimonial-carousel .media-object{
    margin-bottom: 15px;
  }
}


.top__text{top:0; display:block;background-color: #fff; text-align: right;color: #0f0e0c;padding: 5px 0;margin: 0;font-size: 0.8em; position: fixed; width: 100%;z-index: 9;-webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-o-transition: all linear 0.5s;-ms-transition: all linear 0.5s;transition: all linear 0.5s;overflow: hidden;}
.client-nav__wrapper{position: absolute;bottom: 0;width: 100%;background-color: #fff;text-align: center;box-shadow: 0 0 5px -1px rgba(0,0,0,0.25)}
.client-nav__wrapper ul{padding: 0;margin: 0;display: table;width: 100%;}
.client-nav__wrapper li{display: table-cell;width: 50%;vertical-align: middle;border: 1px solid #ddd;padding: 15px;}
.client-nav__wrapper img{width: 150px;}

@media (max-width: 1023px){
	.navbar-default .navbar-nav > li{display: none;}
	.navbar-default .navbar-nav > li.icon.icon-menu{display:inline-block;margin: 6px 0;}
	.navbar-default .navbar-nav > li.icon{display:inline-block;padding:0px 10px;}
	.navbar-default .navbar-nav{position:absolute;top:4px;right:20px;}
	.form__bg{padding: 75px 75px 100px 75px;}
}
@media screen and (max-width: 768px){
	.navbar{top: 0;}
}
@media screen and (max-width: 479px){
	.navbar{top: 0;}
}
@media screen and (max-width: 479px){
	.navbar{top: 0;}
}
@media screen and (max-width: 479px){
	.navbar{top: 0;}
}
@media screen and (max-width: 568px){
	.footer .links li{margin-top:1px !important;}
	.footer_wrapper .btn:active{padding-bottom:0;}
}
@media screen and (max-width: 479px){
	.navbar{top: 0;}
}
@media screen and (max-width:736px){
	.navbar-brand.base h1{margin: 0}
}

/** Footer **/
#footer{
	position: relative;
	z-index: 9;
}
.footer .container-fluid{
	padding: 0 75px;
}
.footer .aboutus p{
	line-height: 2;
}
.footer{background-color: #3D3D3D; padding: 40px 0 20px;}
.footer h5{color: #fff; border-bottom: 1px solid #555465; padding-bottom: 10px; text-transform: uppercase; font-weight: bold;}
.footer a, .footer p{color:#a7afb8;}
.footer hr{border-color: #555465; margin:0; }
.footer .links{	list-style:none;	padding-left:0px;}
.footer .links li{	margin-top:15px;}
.footer .links li:first-child{margin-top:0px;}
.footer .links a{	font-size:14px; letter-spacing:0.05em; }
.footer_wrapper .collapse{	display:block}
/** Footer **/

@media screen and (max-width:320px){
	.navbar{top: 0;}
	.footer .col-md-3{width:60% !important;}
	.footer .links li{margin-top:5px !important;}
}
@media screen and (max-width: 767px){
	.container{padding:0;}
	.navbar-brand{margin-left:0px;}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{margin-right: 0; margin-left: 0; }
	.inner-layout .nav.navbar-nav.navbar-right{right:18px; margin-top:5px;}
}
@media screen and (max-width: 1440px){
	.form__bg form{width: 100%;}
}
@media screen and (max-width: 1367px){
	.form__bg form{width: 100%;}
}
@media screen and (max-width: 1024px){
	.footer .links a{font-size: 14px; text-transform: uppercase; color: #262020;}
	.form__bg{padding: 50px 50px 100px 50px; }
	.form__bg form{width: 100%; }
}
@media screen and (max-width: 768px){
	body{margin-bottom: 0 !important;}
	html, body{overflow: inherit !important;}
	.inner-layout{padding-top:20px;}
	.footer{padding:40px 0 0;}
	.footer_wrapper{height: auto !important;}
}
@media (min-width: 768px) and (max-width: 991px){
	.navbar{top: 0}
	.footer .links{list-style: none; position: relative;}
	.footer_wrapper .collapse{display:none;}
	.footer_wrapper .collapse.in{display:block !important;}
	.footer_wrapper{position:fixed;bottom:0px;width:100%; z-index:2}
}
@media screen and (max-width: 767px){
	.footer_wrapper .collapse{display:none;}
	.footer_wrapper .collapse.in{display:block !important;}
	.footer_wrapper{position:fixed;bottom:0px;width:100%; z-index:2}
	.footer{padding:15px 0 0;}
	.footer .links a{font-size:12px;}
	#footer .col-xs-3{width:35%;}
}
@media screen and (max-width:414px){
	.navbar{top: 0;}
	.footer_wrapper .collapse{display:none;}
	.footer_wrapper .collapse.in{display:block !important;}
	.footer_wrapper{position:fixed;bottom:0px;width:100%; z-index:2}
}
@media screen and (max-width: 1024px){
	#footer .footer{padding-bottom:0;}
}
