<div class="footer_wrapper">
  <a class="footerbar btn btn-info visible-xs visible-sm" data-toggle="collapse" data-target="#footer">
    <i class="icon icon--arrow-down-thin" ><span class="hidden">Open</span></i>
  </a>
  <footer id="footer" class="collapse">
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 aboutus">
            <h5>ABOUT US</h5>
            <p>Wisely started in 2012, as a web conference and community platform for academicians, research institutions and students to create and participate in technology symposiums to quickly get feedback on their research from their peers across the globe.</p>
            <p><a href="about-us"><u>Read more</u></a></p>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <h5>TECHNOLOGY</h5>
              <ul class="links">
                <li><a href="internet-of-things">Internet Of Things</a></li>
                <li><a href="mobile-development">Mobile Development</a></li>
                <li><a href="web-development">Web Development</a></li>
                <li><a href="ecommerce">eCommerce</a></li>
                <li><a href="qa-and-testing">QA & Testing</a></li>
              </ul>
            </div>
            <div class="col-md-4 second-col-links">
              <h5>CONSULTING</h5>
              <ul class="links">
                <li><a href="product-development">Product Development</a></li>
                <li><a href="b2b-sales-acceleration">B2B Sales Acceleration</a></li>
                <li><a href="b2c-online-sales-funnels">B2C Online Sales Funnels</a></li>
              </ul>
            </div>
            <div class="col-md-4 second-col-links">
              <h5>MARKETING</h5>
              <ul class="links">
                <li><a href="online-sales-funnels">Online Sales Funnels</a></li>
                <li><a href="website-development">Website Development</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <p><label>USA</label>:  +1-376-5304-283 </p>
            <p><label>UK</label>:  +4-376-4302-675</p>
            <p><label>INDIA</label>: +91 700-3388-693</p>
            <p><hr /></p>
            <p><label>EMAIL</label>: <a href="mailto:sales@wisely.co">sales@wisely.co</a></p>
            <p><hr /></p>
            <p>Wisely Online Services Private Limited,<br />4th Floor, # 91Springboard, #175, Bannerghatta Road,<br />JP Nagar, Dollar’s Colony, Bangalore, 560076, Karnataka, INDIA</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
