<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="branding">
        <a href="/" target="_self">
          <h1>Wisely</h1>
          <!--<img src="images/logo1.png" />-->
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle active" role="button" aria-haspopup="true" aria-expanded="false">TECHNOLOGY</a>
        <ul class="dropdown-menu wy_technology">
          <li><a href="internet-of-things"><span class="dd-sliding-u-l-r">Internet Of Things</span></a></li>
          <li><a href="mobile-development"><span class="dd-sliding-u-l-r">Mobile Development</span></a></li>
          <li><a href="web-development"><span class="dd-sliding-u-l-r">Web Development</span></a></li>
          <li><a href="ecommerce"><span class="dd-sliding-u-l-r">eCommerce</span></a></li>
          <li><a href="qa-and-testing"><span class="dd-sliding-u-l-r">QA & Testing</span></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">CONSULTING</a>
        <ul class="dropdown-menu wy_consulting">
          <li><a href="product-development"><span class="dd-sliding-u-l-r">Product Development</span></a></li>
          <li><a href="b2b-sales-acceleration"><span class="dd-sliding-u-l-r">B2B Sales Acceleration</span></a></li>
          <li><a href="b2c-online-sales-funnels"><span class="dd-sliding-u-l-r">B2C Online Sales Funnels</span></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">MARKETING</a>
        <ul class="dropdown-menu wy_marketing">
          <li><a href="online-sales-funnels"><span class="dd-sliding-u-l-r">Online Sales Funnels</span></a></li>
          <li><a href="website-development"><span class="dd-sliding-u-l-r">Website Development</span></a></li>
        </ul>
      </li>
      <li>
        <a href="success-stories" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">SUCCESS STORIES</a>
      </li>
      <li>
        <a href="about-us" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
      </li>
      <li class="icon icon-menu">
        <a href="javascript:void(0);" class="side-menu-trigger">
          <i class="icon icon--menu"><span class="hidden">Side Menu</span></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
