<div class="row project__tabs">
  <div class="col-md-3" id="project_TabWrapper">
    <ul class="nav nav-tabs tabs-left">
      <li class="active">
        <a href="#ai" data-toggle="tab">
          <div class="category__item">Artificial Intelligence</div>
        </a>
      </li>
      <li>
        <a href="#bc" data-toggle="tab">
          <div class="category__item">Blockchain</div>
        </a>
      </li>
      <li>
        <a href="#ec" data-toggle="tab">
          <div class="category__item">eCommerce</div>
        </a>
      </li>
      <li>
        <a href="#ss" data-toggle="tab">
          <div class="category__item">SaaS</div>
        </a>
      </li>
      <li>
        <a href="#ci" data-toggle="tab">
          <div class="category__item">Consumer Internet</div>
        </a>
      </li>
      <li>
        <a href="#es" data-toggle="tab">
          <div class="category__item">Enterprise Software</div>
        </a>
      </li>
      <li>
        <a href="#it" data-toggle="tab">
          <div class="category__item">Internet of Things</div>
        </a>
      </li>
      <li>
        <a href="#ed" data-toggle="tab">
          <div class="category__item">Education</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="tab-content">

      <div class="tab-pane active" id="ai">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ai/1.png" width="75" />
                </div>
                <p>For a Silicon Valley based startup we developed an omni channel inside sales acceleration platform which recommends sales activities to sales representatives that increase sales conversion and velocity by using machine learning.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ai/2.png" width="75" />
                </div>
                <p>For a Las Vegas based SaaS startup we developed a Big Data application which uses Twitter's API and sentiment analysis to deliver highly qualified leads to B2B demand generation teams. The application uses Twitter's API to listen to keywords set by the user and then uses AI to determine their liklihood of their being a qualified lead.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="bc">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/bc/1.png" width="75" />
                </div>
                <p>A social customer/user community platform using blockchain technology which businesses can use to reward customers in cryptocurrency, who resolve issues faced by other customers. Businesses who subscribe to the platform also needs to accept the same currency; consequently, the user will have many vendors across electronics and software subscription to buy more products and services from.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/bc/2.png" width="75" />
                </div>
                <p>A real estate mortgage house in the U.S. have hired us to develop a crowdfunding platform to raise fund for Real Estate Investors. On one hand the cryptocurrency can be used by backers to buy a fraction of the property while it can also be used by the Real Estate Investor to pay for other services such as landscappers, architects, HVAC contractors, roofing contractors etc.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="ss">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ss/1.png" width="75" />
                </div>
                <p>A U.S based marketer hired us to develop an online sales funnel creation system which helps digital marketers quickly create a quiz for their audience to answer that generates a customized PDF report on the fly; to turn visitors into leads.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ss/2.png" width="75" />
                </div>
                <p>A multi-platform system- web, mobile and tablet - developed for a U.S. based client to help Gyms better engage their members to control churn as well as turn their members into evangelists who help the gym acquire more members through gamification features.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="ec">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects//ec/1.png" width="75" />
                </div>
                <p>A U.K based VC turned investor hired us to develop a marketplace for local experiences such as scuba-diving, paragliding etc for tourists. The application has been developed using MEAN stack with a stellar user experience. The marketplace has done over 1 million transactions to this day.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ec/2.png" width="75" />
                </div>
                <p>We have built a vacation rental marketplace for an Australian client using .Net framework. The product is being currently used by over 5 vacation rental businesses and over 10,000 properties are listed. Every day hundreds of customers use the platform to book properties.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="ci">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ci/1.png" width="75" />
                </div>
                <p>We developed a platform for merchants to reward social influencers for sharing their offers for a Nevada based social advocacy startup. We measured the influence of social media users by measuring how much engagement they created across their social media profiles like Facebook and Twitter. </p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ci/2.png" width="75" />
                </div>
                <p>An Indian car pooling startup outsourced their product development to Wisely. The product helped car owners share their rides with fellow commuters in the same route using their smartphone.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="es">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/es/1.png" width="75" />
                </div>
                <p>We developed an enterprise resource planning application for a global non-scheduled aviation company. The application managed end-to-end operations of the company across MRO, training, pilot management, waypoint/route management, issue and risk management, spare parts inventory, customer relationship management as well as booking.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/es/2.png" width="75" />
                </div>
                <p>A U.S. based medical company has hired us to develop an application which can make the communication between hospital staff- doctors, nurses etc. more efficient to increase patient care by ensuring that the doctor is able to reach the patient as quickly as possible.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="ed">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ed/1.png" width="75" />
                </div>
                <p>We built an online meeting platform using WebRTC framework to help universitiies and research institutions host online symposiums to reduce cost of travel and stay. The platform has been used by several leading universities across the world to host technical conferences.</p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/ed/2.png" width="75" />
                </div>
                <p>A video training platform has been developed by Wisely which is used by the client to train entrepreneurship to veterans of the U.S Navy. The platform has been developed for a client who are funded by the U.S. govt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="it">
        <div class="row project__rows">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/it/1.png" width="75" />
                </div>
                <p>A Texas based startup envisioned to help auto dealerships to be able to easily track the position of the vehicles- whether inside their facility or outside for a test drive. Wisely helped the fulfil their vision by creating an IoT based solution which uses geo-fencing technology to track the status of the vehicle- whether it is in test drive or not. </p>
              </div>
              <div class="col-md-6">
                <div class="project__img">
                  <img src="images/projects/it/2.png" width="75" />
                </div>
                <p>A premier research and education institution of India hired us to developed an IoT application which monitors and records weather data to analyze its implication on various walks of life like economy, commodity prices etc.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
