<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="texture_gradient skill"></div>
        <div class="form__bg">
          <h2>Technologies Our Team Has Mastered</h2>
          <p>If you would like to discuss a project with us, please fill the form below:</p>
          <form>
            <fieldset class="form-group">
              <label for="name" class="sr-only">First name</label>
              <input type="text" class="form-control" id="fname" placeholder="First name" />
            </fieldset>
            <fieldset class="form-group">
              <label for="email" class="sr-only">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email address" />
            </fieldset>
            <fieldset class="form-group">
              <label for="requirement" class="sr-only">Describe your requirement in few words</label>
              <textarea class="form-control" id="requirement" rows="3" placeholder="Describe your requirement in few words"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <label for="budget" class="sr-only">Budget</label>
              <select class="form-control" id="phone">
                <option value="">---Select Budget---</option>
                <option value="$5000-$15000">$5,000 - $15,000</option>
                <option value="$15000-$25000">$15,000 - $25,000</option>
                <option value="$25000-$50000">$25,000 - $50,000</option>
                <option value="$50000+">$50,000+</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label for="phone" class="sr-only">Phone number</label>
              <input type="text" class="form-control" id="phone" placeholder="Phone number" />
            </fieldset>
            <fieldset class="form-group">
              <label for="location" class="sr-only">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Location" />
            </fieldset>
            <button type="submit" class="btn btn-warning btn-block">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
