<nav class="sidebar-menu" data-component="sidebar-menu">
  <header class="sidebar-menu__header"><a class="sidebar-menu__title sidebar-menu--trigger" href="#">Explore </a></header>
  <ul class="sidebar-menu__list">
    <li class="sidebar-menu__item sidebar-menu__item--has-children">
      <a href="#" class="sidebar-menu__link active">
        <span class="dd-sliding-u-l-r">TECHNOLOGY</span> <span class="glyphicon glyphicon-menu-right"></span>
      </a>
      <ul class="sidebar-menu__list search_submenu wy_technology">
        <li class="sidebar-menu__item sidebar-menu__item--back">
          <a class="sidebar-menu__link">
            <span class="glyphicon glyphicon-menu-left"></span>
            Back
          </a><div class="close-icon"></div>
        </li>
        <li class="sidebar-menu__item menu-parent-title">
          <a class="menu-parent-title-link"><span></span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="internet-of-things" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Internet Of Things</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="mobile-development" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Mobile Development</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="web-development" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Web Development</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="ecommerce" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">eCommerce</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="qa-and-testing" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">QA & Testing</span></a>
        </li>
      </ul>
    </li>
    <li class="sidebar-menu__item sidebar-menu__item--has-children">
      <a href="#" class="sidebar-menu__link">
        <span class="dd-sliding-u-l-r">CONSULTING</span> <span class="glyphicon glyphicon-menu-right"></span>
      </a>
      <ul class="sidebar-menu__list search_submenu wy_consulting">
        <li class="sidebar-menu__item sidebar-menu__item--back">
          <a class="sidebar-menu__link">
            <span class="glyphicon glyphicon-menu-left"></span>
            Back
          </a><div class="close-icon"></div>
        </li>
        <li class="sidebar-menu__item menu-parent-title">
          <a class="menu-parent-title-link"><span></span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="product-development" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Product Development</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="b2b-sales-acceleration" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">B2B Sales Acceleration</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="b2c-online-sales-funnels" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">B2C Online Sales Funnels</span></a>
        </li>
      </ul>
    </li>
    <li class="sidebar-menu__item sidebar-menu__item--has-children">
      <a href="#" class="sidebar-menu__link">
        <span class="dd-sliding-u-l-r">MARKETING</span> <span class="glyphicon glyphicon-menu-right"></span>
      </a>
      <ul class="sidebar-menu__list search_submenu wy_marketing">
        <li class="sidebar-menu__item sidebar-menu__item--back">
          <a class="sidebar-menu__link">
            <span class="glyphicon glyphicon-menu-left"></span>
            Back
          </a><div class="close-icon"></div>
        </li>
        <li class="sidebar-menu__item menu-parent-title">
          <a class="menu-parent-title-link"><span></span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="online-sales-funnels" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Online Sales Funnels</span></a>
        </li>
        <li class="sidebar-menu__item">
          <a href="website-development" target="_self"><span class="dd-sliding-u-l-r sidebar-menu__link">Website Development</span></a>
        </li>
      </ul>
    </li>
    <li class="sidebar-menu__item">
      <a href="success-stories" class="sidebar-menu__link">
        <span class="dd-sliding-u-l-r">SUCCESS STORIES</span>
      </a>
    </li>
    <li class="sidebar-menu__item">
      <a href="about-us" class="sidebar-menu__link">
        <span class="dd-sliding-u-l-r">ABOUT US</span>
      </a>
    </li>
  </ul>
</nav>
