<div class="skills__wrapper">
  <div class="container-fluid homeSkills">
    <div class="full_Image skill_Image"></div>
    <div class="texture_gradient skill"></div>

    <div class="skill_img_wrap skill-left">
      <!-- Left Icons -->
      <img src="./images/skills/net.png" class="left30 top20 floating-img" alt="">
      <img src="./images/skills/php.png" class="left70 top20 floating-img" alt="">
      <img src="./images/skills/html5.png" class="left30 top40 floating-img" alt="">
      <img src="./images/skills/java.png" class="left70 top40 floating-img" alt="">
      <img src="./images/skills/mongodb.png" class="left30 top60 floating-img" alt="">
      <img src="./images/skills/tensorflow.png" class="left70 top60 floating-img" alt="">
      <img src="./images/skills/js.png" class="left30 top80 floating-img" alt="">
      <img src="./images/skills/nodejs.png" class="left70 top80 floating-img" alt="">
    </div>

    <div class="skill_img_wrap skill-right">
      <!-- Right Icons -->
      <img src="./images/skills/angularjs.png" class="right30 top20 floating-img" alt="">
      <img src="./images/skills/mysql.png" class="right70 top20 floating-img" alt="">
      <img src="./images/skills/cpp.png" class="right30 top40 floating-img" alt="">
      <img src="./images/skills/android.png" class="right70 top40 floating-img" alt="">
      <img src="./images/skills/ios.png" class="right30 top60 floating-img" alt="">
      <img src="./images/skills/python.png" class="right70 top60 floating-img" alt="">
      <img src="./images/skills/ethereum.png" class="right30 top80 floating-img" alt="">
      <!-- Right Icons -->
    </div>

    <div class="form__bg">
      <h2>Technologies Our Team Has Mastered</h2>
      <p>If you would like to discuss a project with us, please fill the form below:</p>
      <form>
        <fieldset class="form-group">
          <label for="name" class="sr-only">First name</label>
          <input type="text" class="form-control" id="fname" placeholder="First name" />
        </fieldset>
        <fieldset class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email address" />
        </fieldset>
        <fieldset class="form-group">
          <label for="requirement" class="sr-only">Describe your requirement in few words</label>
          <textarea class="form-control" id="requirement" rows="3" placeholder="Describe your requirement in few words"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="budget" class="sr-only">Budget</label>
          <select class="form-control" id="phone">
            <option value="">---Select Budget---</option>
            <option value="$5000-$15000">$5,000 - $15,000</option>
            <option value="$15000-$25000">$15,000 - $25,000</option>
            <option value="$25000-$50000">$25,000 - $50,000</option>
            <option value="$50000+">$50,000+</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label for="phone" class="sr-only">Phone number</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone number" />
        </fieldset>
        <fieldset class="form-group">
          <label for="location" class="sr-only">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Location" />
        </fieldset>
        <button type="submit" class="btn btn-warning btn-block">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
