<div class="row testimonials__wrapper">
  <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="3"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="4"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="5"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="6"></li>
      <li data-target="#tcb-testimonial-carousel" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/Tiji-Thomas-1x1-300x300.png" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>We envisioned a system that will help sales teams develop sales pitches and phone scripts to better articulate their offering to close more deals. It had not been done before. Wisely was instrumental in executing our vision into a product which is helping hundreds of our clients today.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Tiji Thomas</span>, Founder/CEO
                          <small><cite title="Unselling System">Unselling System</cite></small>
                        </span>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/Daven-Micheals.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>We generate millions of dollars in revenue every year through our maketing funnels. Needless to say funnels are critical to our business. Wisely has helped us develop many funnels for our business which are very successful and active to this day. We love their professionalism so much that we've continued to work with them for the past 4 years.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Daven Michaels</span>, Founder/CEO
                        <small><cite title="123Employee">123Employee</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/vinay.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>They're bunch of great guys and extremely professional. Wisely has been our preferred tech partner for the last 2 years.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Vinay MG</span>, Director
                        <small><cite title="Veave Technologies">Veave Technologies</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/Vijay.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>We're selling millions of dollars worth of property every month through our website. Needless to day, our website is critical to our success. Wisely has been so reliable in helping us build and optimize our website and funnels that we absolutely love them.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Vijay Boregowda</span>, Director
                        <small><cite title="BookAprop">BookAprop</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/larry-yatch-profile-square.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>Soumitra is a great guy to work with. We had to develop a very complex project management software and Wisely has delivered above our expectations. Working with a remote team is always a challenge but we never faced any when working with Wisely. I would definitely recommend Wisely to my other entrepreneur buddies.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Larry Yatch</span>, Founder/CEO
                        <small><cite title="SealedMindset">SealedMindset</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/Jeanna.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>We had an app on in Google Play and Android. However, the UI as well as UX wasn't up to the standard. We hired Wisely to build the app from scratch. They not only did a fantastic job with the overall experience, they have built a system which is helping us better understand our users which will create a healthy source of leads for our business.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Jeanna Gabellini</span>, Founder
                        <small><cite title="Masterpeace Coaching">Masterpeace Coaching</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/beejalparmar.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>I paid $20K to help me build a social marketing software; which went to on develop sales of more than $1M within a year. Enough said- go work with them now!</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Beejal Parmar</span>, Founder/CEO
                        <small><cite title="EngageWise">EngageWise</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-xs-12">
            <figure class="clearfix">
              <div class="col-md-1 col-sm-2 col-xs-12">
                <div class="row">
                  <img class="img-responsive media-object img-circle" src="images/clients/Jerry-Conti.jpg" />
                </div>
              </div>
              <div class="col-md-11 col-sm-10 col-xs-12">
                <figcaption class="caption">
                  <blockquote class="no-margin">
                    <p><em>Online education is a very challenging space with so many platforms catering to every need. Attracting good training publishers is a challenge. Wisely developed a first-of-its kind audience exchange technology for ePrentice that incentivizes training and content creators to exclusively publish their content on our platform. Thank you Wisely.</em></p>
                    <div class="no-margin">
                      <p>
                        <span class="text-brand lead no-margin">Jerry Conti</span>, Founder/CEO
                        <small><cite title="ePrentice">ePrentice</cite></small>
                      </p>
                    </div>
                  </blockquote>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
